{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>
    <a href={% url 'learning_logs:topic' topic.id %}>{{ topic }}</a>
    &raquo; Edit entry
  </h3>

{% endblock page_header %}

{% block content %}
  <form method="post" action="{% url 'learning_logs:edit_entry' entry.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>

{% endblock content %}